
// COLOR SIDEBAR
$sidebar_bg                          : $theme_primary;
$sidebar_color                       : $page_bg;

// CLEAR SIDEBAR
$sidebar_bg                          : transparent;
$sidebar_color                       : var(--primary);

$sidebar_lighter_color               : var(--lighter);
$sidebar_darker_color                : var(--darker);

$sidebar_text                        : $text_default_size;
$sidebar_text_sm                     : ($text_default_size * 0.8);
$sidebar_text_md                     : ($text_default_size * 0.9);
$sidebar_text_lg                     : ($text_default_size * 1.1);
$sidebar_text_xl                     : ($text_default_size * 1.2);
$sidebar_section_content_lh          : 1.7;
$sidebar_section_title_fw            : $fw_300;
$sidebar_section_title_border        : 1px dashed $transparent_darker_20;
$sidebar_section_content_fw          : $fw_300;
$sidebar_contactlist_spacing         : 1px;


$sidebar_lighter_color                 : lighten($color-secondary-1-1, 0%);
$sidebar_banner_name_color           : $color-complement-2;
$sidebar_banner_tagline_color        : $color-primary-1;
$sidebar_title_color                 : $sidebar_lighter_color;
$sidebar_contact_card_bg             : $white;
$sidebar_contact_card_color          : $capecod;
$sidebar_contact_card_icon_color     : rgba(lighten($capecod, 5%), 0.8);

.sidebar {
  color: $sidebar_color;
  background-color: $sidebar_bg;
  font-size: $sidebar_text;
  padding-top: 2rem;
  padding-bottom: 4rem;

  &__block {
    flex: 1 1 auto;
    padding: 0 2em;
    line-height: $sidebar_section_content_lh;
    font-weight: $sidebar_section_content_fw;
  }


  .block__title {
    text-transform: uppercase;
    font-size: $sidebar_text_lg;
    font-weight: $sidebar_section_title_fw;
    color: $sidebar_lighter_color;
    width: 100%;

    &.tagged {
      font-size: $sidebar_text_md;
      border-bottom: $sidebar_section_title_border;
      display: inline-block;
      font-weight: $fw_400;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      margin-left: -.2rem;
      padding-left: .2rem;
      padding-right: 0;
      text-transform: lowercase;
    }
  }

  .block__content {
    font-size: $sidebar_text;
    color: inherit;
    font-family: inherit;
  }

  .contact_list,
  .languages-list,
  .interests-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
      &:last-child { margin-bottom: 0; }
    }
  }

  .contact_list {
    list-style: none;
    font-family: var(--mono-font);
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1.5;

    .list {
      &_item {
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        margin-bottom: $spacing_third;
        font-size: $sidebar_text;

        &:last-child { margin-bottom: 0; }
      }

      &__icon {
        margin-right: $spacing_half;
        font-size: 1rem;
      }

      &__link {
        font-family: inherit;
        text-decoration: none;
        font-size: .85rem;
        font-weight: inherit;
        color: inherit;
        letter-spacing: $sidebar_contactlist_spacing;
      }
    }

    .contact-label {
      font-size: 0.8rem;
      letter-spacing: 0;
      font-family: monospace;
      font-weight: inherit;
    }
  }

  .education {
    &__item {
      margin-bottom: $spacing_full;
      &:last-child { margin-bottom: 0; }

      .eduitem {
        &__degree {
          font-weight: 400;
          line-height: 1.3;
          margin-bottom: $spacing_half;
          font-size: $sidebar_text_md;
          color: $sidebar_color;
        }

        &__info {
          display: flex;
          color: $sidebar_lighter_color;
          font-size: $sidebar_text_sm;
          margin: 0.5em 0;
          justify-content: space-between;
          align-items: center;
        }

        &__meta {
          margin: 0;
          color: inherit;
          font-weight: 400;
        }

        &__time {
          margin: 0;
          font-weight: 300;
          color: inherit;
        }
      }
    }
  }

  .interests-list {
    font-size: $sidebar_text_md;
    color: inherit;
    text-transform: lowercase;
    font-family: inherit;
  }
}
