<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Developer Resume {{#resume.basics}}for {{name}}{{/resume.basics}}">
<meta name="generator" content="https://github.com/charrismatic/charrismatic-resume"/>
<title>{{#resume.basics}}{{ name }}{{/resume.basics}}</title>
