{{#if resume.basics.summary}}
<section class="section resume_section summary-section">
  <h2 class="section__title section-title">Summary</h2>
  <div class="section__content summary">{{resume.basics.summary}}</div>
</section>
{{/if}}
