{{#resume.basics}}
<section class="sidebar__block banner_section">
  <div class="banner">
    {{#if image }}
        <img class="banner__img header__img" src="{{ image }}" alt="" />
    {{/if}}
    <h1 class="banner__title">{{firstname}} {{lastname}}</h1>
    <h2 class="banner__tagline">{{tagline}}</h2>
  </div>
</section>
{{/resume.basics}}
