
// ==============================================
// TYPOGRAPHY
// ----------------------------------------------

$default_text_body_text        :  16px;
$text_default                  :  1em;
$default_text_size             :  1rem;

$text_xs                       :  0.8rem;
$text_sm                       :  0.8rem;
$text_md                       : 1;
$text_lg                       : 1;
$text_xl                       : 1;

$text_default_size             :  1rem;
$text_default_lineheight       :  1.7;

$spacing_full                  :  1rem;
$spacing_half                  :  0.5rem;
$spacing_third                 :  0.333rem;
