/// ----------------------------------------------
/// FONTS
/// ----------------------------------------------

$body_font                 : $oswald;
$logo_font                 : $librebarcode128text;
$code_font                 : $sharetechmono;
$tech_font                 : $chathura;
$document_main_font        : $oswald;
$heading_font_main         : $chathura;
$heading_font_secondary    : $opensanscondensed;
$sidebar_header_title_font : $librebarcode128text;
$document_main_font        : $librebarcode128text;
$docunent_logo_font        : $librebarcode128text;
