
// ==============================================
// LAYOUT - SIZE AND SPACING
// ----------------------------------------------

$spacing_full             : 1rem;
$spacing_half             : 0.5rem;
$spacing_third            : 0.333rem;
