
// ==============================================
// TYPOGRAPHY - SIZE AND STYLE
// ----------------------------------------------

$BODY_SIZE                : 16px;

$text_default             : 1em;
$text_default_size        : 1rem;
$default_text_size        : 1rem;
$base_textsize            : 1rem;
$initial_text_size        : $base_textsize;
$text_default_lineheight  : 1.7;
$text_xs                  : 0.8rem;
$text_sm                  : 0.8rem;
$text_md                  : 1;
$text_lg                  : 1;
$text_xl                  : 1;
$secondary_text_xl             : 1.2rem;
$secondary_text_lg             : 1.1rem;
$secondary_text_md             : 0.9rem;
$secondary_text_sm             : 0.8rem;
$text_light                    : $fw_100;
$text_normal                   : $fw_300;
$text_semibold                 : $fw_500;
$text_heavy                    : $fw_600;
$document_title_fw             : $fw_300;
$main_content_text_larger      : ($base_textsize * .9);
$page_content_fs               : ($base_textsize * .8);
$main_content_text_smaller     : ($base_textsize * .7);
