{{#if resume.call_to_action}}
  {{#resume.call_to_action ~}}
<section class="section calltoaction_section">
  <h2 class="section__title">Note:</h2>
  {{#if content}}
    <div class="section__content highlighted font-light">
    {{#each content}}
      <p class="fs-2">{{this}}</p>
    {{/each}}
    </div>
  {{/if}}

    {{#if links}}
      {{#each links}}
  <p class="text-right cl-black">
    <i class="fa fa-{{icon}}"></i>
    <a class="calltoaction_link" href="https://{{url}}" target="_blank">{{text}}</a>
  </p>
      {{/each}}
    {{/if}} 
</section>
  {{/resume.call_to_action ~}}
{{/if}}
