{{#if resume.work2}}
<section class="section resume_section work_experience experiences-section">
  <h2 class="section__title section-title mb-1">Work Experience (cont...)</h2>
  {{#resume.work2}}
  {{#if display ~}}
  <div class="job job_item item">

    {{> _experience_item }}

  </div>
  {{/if}}
  {{/resume.work2}}
</section>
{{/if}}
